arrow==0.15.4
cdsapi==0.2.3
geopy==1.20.0
matplotlib==3.1.1
MetPy==0.12.0
networkx==2.4
numpy==1.17.3
pandas==0.25.3
Pillow==6.2.1
# pyramid-arima==0.8.1 # should use pip install pmdarima
# see https://github.com/alkaline-ml/pmdarima/issues/36#issuecomment-562934276
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1.2
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.3.1
tqdm==4.38.0
xarray==0.14.0
bresenham==0.2.1
wandb==0.10.26 # 0.10.29 has a bug with full back hook

# Use Torch 1.8.0 with Cuda 10.2 (11.1 crashes):

# pip install torch torchvision torchaudio
# pip install torch-scatter -f https://pytorch-geometric.com/whl/torch-1.8.0+cu102.html
# pip install torch-sparse -f https://pytorch-geometric.com/whl/torch-1.8.0+cu102.html
# pip install torch-cluster -f https://pytorch-geometric.com/whl/torch-1.8.0+cu102.html
# pip install torch-spline-conv -f https://pytorch-geometric.com/whl/torch-1.8.0+cu102.html
# pip install torch-geometric